@import url('https://fonts.googleapis.com/css?family=Baloo+2:400,500,700|Source+Sans+Pro:300,400&display=swap');
:root {
    --red: #bc1414;
    --white: #fff;
    --gray: #919191;
    --darkgray: #454445;
    --transition: .3s ease;
    --font: 16px;
    --bodyFont: 'Source Sans Pro', sans-serif;
    --headingsFont: 'Baloo 2', cursive;
}
body {
    background-image: linear-gradient(rgba(26,26,26,.9), rgba(26,26,26,.9)), url(bg.jpg);
    font-size: var(--font);
    color: var(--gray);
    font-family: var(--bodyFont);
    line-height: 1.5;
    background-attachment: fixed;
}
h1,h2,h3,h5,h6 {
    font-family: var(--headingsFont);
    font-weight: 700;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 70%;
    margin: auto;
}
.container::after {
    display: block;
    content: "";
    clear: both;
}
/************
header
************/
header h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: var(--white);
}
header h1 span {
    color: var(--red);
}
header h5 {
    font-size: 1.1rem;
    margin-bottom: 30px;
    font-weight: 300;
}
/************
nav
************/
nav {
    background: rgba(0,0,0,.6);
    border-bottom: 5px solid var(--red);
    text-align: center;
    height: 70px;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    color: var(--gray);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 70px;
    letter-spacing: 2px;
    padding: 25px 50px;
}
nav ul li a:hover {
    color: var(--white);
    transition: var(--transition);
}
nav .active {
    color: var(--red);
}
/************
picture
************/
.picture img {
    width: 100%;
    margin-top: 30px;
}
/************
services
************/
.services {
    background: var(--white);
    border-bottom: 5px solid var(--red);
    margin-top: 30px;
}
.services article {
    width: 33%;
    float: left;
    padding: 30px;
}
.services article h3 {
    color: var(--darkgray);
    font-size: 2rem;
}
button {
    background: var(--red);
    border: none;
    padding: 15px 30px;
    color: var(--white);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    border-radius: 7px;
}
button:hover {
    background: var(--darkgray);
    cursor: pointer;
    transition: var(--transition);
}
/************
Blog
************/
.blog {
    padding: 30px 0;
}
.blog article img {
    width: 100%;
}
.blog article {
    width: 70%;
    float: left;
}
.blog article h3 {
    font-size: 2.3rem;
    color: var(--white);
    padding-bottom: 15px
}
.blog aside {
    width: 30%;
    float: left;
    padding-left: 30px;
}
.blog aside h3 {
    font-size: 2.3rem;
    color: var(--white);
    padding-bottom: 15px
}
.blog aside h4 {
    font-size: 1.2rem;
    color: var(--white);
    padding-bottom: 20px;
}
.blog .post::after {
    content: "";
    display: block;
    height: 1px;
    background: var(--gray);
    margin: 20px 0 40px;
}
/************
footer
************/
footer {
    text-align: center;
}
footer .container {
    border-top: 1px solid var(--gray);
    padding: 50px 0;
}
footer a {
    color: var(--red);
}
footer a:hover {
    color: var(--gray);
    text-decoration: none;
    transition: var(--transition);
}
/************
R E S P O N S I V E
************/
@media(max-width: 768px) {
    .container {
        width: 95%;
    }
    header h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    header h5 {
        text-align: center;
    }
    nav ul li a {
        padding: 25px 5px;
    }
    .services article {
        width: 100%;
        padding: 20px;
    }
    .blog article,
    .blog aside {
        width: 100%;
    }
    .blog aside {
        padding-left: 0px;
    }
}




